# Visualizing Chipotle's Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from collections import Counter

# set this so the graphs open internally
%matplotlib inline

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [ ]:
chipo = pd.read_csv('https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/chipotle.tsv', on_bad_lines='skip')
chipo

     order_id\tquantity\titem_name\tchoice_description\titem_price
0      1\t1\tChips and Fresh Tomato Salsa\tNULL\t$2.39
1                      1\t1\tIzze\t[Clementine]\t$3.39
2               1\t1\tNantucket Nectar\t[Apple]\t$3.39
3     1\t1\tChips and Tomatillo-Green Chili Salsa\tN...
4                     3\t1\tSide of Chips\tNULL\t$1.69
...                                                 ...
1790         1828\t1\tCanned Soft Drink\t[Coke]\t$1.25
1791       1829\t1\tCanned Soft Drink\t[Sprite]\t$1.25
1792                       1831\t1\tChips\tNULL\t$2.15
1793               1831\t1\tBottled Water\tNULL\t$1.50
1794         1832\t1\tChips and Guacamole\tNULL\t$4.45

[1795 rows x 1 columns]

### Step 4. See the first 10 entries

In [ ]:
print(chipo.head(10))

  order_id\tquantity\titem_name\tchoice_description\titem_price
0   1\t1\tChips and Fresh Tomato Salsa\tNULL\t$2.39
1                   1\t1\tIzze\t[Clementine]\t$3.39
2            1\t1\tNantucket Nectar\t[Apple]\t$3.39
3  1\t1\tChips and Tomatillo-Green Chili Salsa\tN...
4                  3\t1\tSide of Chips\tNULL\t$1.69
5            5\t1\tChips and Guacamole\tNULL\t$4.45
6            7\t1\tChips and Guacamole\tNULL\t$4.45
7  8\t1\tChips and Tomatillo-Green Chili Salsa\tN...
8                9\t2\tCanned Soda\t[Sprite]\t$2.18
9           10\t1\tChips and Guacamole\tNULL\t$4.45

### Step 5. Create a histogram of the top 5 items bought

### Step 6. Create a scatterplot with the number of items orderered per order price
#### Hint: Price should be in the X-axis and Items ordered in the Y-axis

### Step 7. BONUS: Create a question and a graph to answer your own question.